{{>header}}

<main role="main" class="container">
  <div class="row">

    <div class="col-md-12 blog-main">
      <div class="post-page">

        <nav class="blog-pagination">
          {{#if post.meta.prev}}
          <a class="btn btn-primary hvr-grow" href="{{post.meta.prev.url}}" title="{{post.meta.prev.title}}">Older</a>
          {{else}}
          <p class="float-right">You are on the oldest post</p>
          {{/if}}

          {{#if post.meta.next}}
          <a class="btn btn-primary float-right hvr-grow" href="{{post.meta.next.url}}" title="{{post.meta.next.title}}">Newer</a>
          {{else}}
          <p class="float-right">You are on the most recent post</p>
          {{/if}}
        </nav>

        <main role="main" class="container blog-post">
          {{#if post.meta.coverPhoto}}
          <img src="{{post.meta.coverPhoto}}" alt="{{post.meta.coverPhotoAlt}}" title="{{post.meta.coverPhotoAlt}}" class="cover-photo">
          {{/if}}
          <h2 class="blog-post-title">{{post.meta.title}}</h2>
          <p class="blog-post-meta">{{post.meta.date}}  {{post.meta.time}}</p>
          {{{post.content}}}
        </main>

        <nav class="blog-pagination">
          {{#if post.meta.prev}}
          <a class="btn btn-primary hvr-grow" href="{{post.meta.prev.url}}" title="{{post.meta.prev.title}}">Older</a>
          {{else}}
          <p class="float-right">You are on the oldest post</p>
          {{/if}}

          {{#if post.meta.next}}
          <a class="btn btn-primary float-right hvr-grow" href="{{post.meta.next.url}}" title="{{post.meta.next.title}}">Newer</a>
          {{else}}
          <p class="float-right">You are on the most recent post</p>
          {{/if}}
        </nav>

      </div>
    </div>
<!--
    <aside class="col-md-4 blog-sidebar">
      {{>about}}
       {{>recent-links}}
      {{>archive}}
    </aside> -->

  </div>

</main>

{{>footer}}
