<div class="page container">

  <!-- <h1 class="page-heading">heading</h1> -->

  <div class="portfolio">

    {{#each this}}
    {{#if show}}
      <div class="portfolio-item">

        <a class="image-area" href='{{url}}'>
          <img src='{{img}}' data-img='{{img}}' data-gif='{{gif}}'/>
          <!-- <img src="http://placehold.it/350x350"/> -->
          <!-- <h2>{{title}}</h2> -->
        </a>

        <!-- <p>{{{description}}}</p>


        {{#if title}}
        <a href="{{url}}">{{title}}</a>
        {{/if}} -->

      </div>

    {{/if}}
    {{/each}}

  </div>

</div>
