<div class="page container">

  <div class="resume row">

    {{#each this}}
      {{#if show}}
        <div class="col-xs-12">
          <h3>{{title}} |  <a href="{{job-url}}" target="_blank">{{job}}</a></h3>
          <em>{{date-start}} &ndash; {{date-end}}</em>
          {{#each description}}
            <p>{{this}}</p>
          {{/each}}
        </div>
      {{/if}}
    {{/each}}

  </div>

</div>
