<section id="caseStudies">
  <h2>Case Studies</h2>
  {{#each caseStudies}}
    <article class="caseStudy">
      <div class="caseStudy-content {{#if (even @index)}}row-reverse{{/if}}">
        {{#if images}}
          <div class="caseStudy-images">
            <div class="polaroid-stack" onclick="shuffleStack(this)">
              {{#each images}}
                <img src="{{this}}" class="polaroid" alt="Image from {{../company}}">
              {{/each}}
            </div>
          </div>
        {{/if}}

        <div class="caseStudy-text">
          <h3>{{title}}</h3>
          <h4>{{company}}</h4>

          <p><strong>Their Problem:</strong> {{problem}}</p>
          <p><strong>My Solution:</strong> {{solution}}</p>

          {{#if tags}}
            <ul class="tag-list">
              {{#each tags}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      </div>
    </article>
  {{/each}}
</section>
