<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <title>{{site.title}} - {{site.subtitle}}</title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">


  <link href="css/bootstrap.min.css" rel="stylesheet" >
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="bg-blue-sm">
  <div class="web-header">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-grey">
    <a class="navbar-brand" href="/"><div class="alex-icon" ></div> <span class="name">{{site.title}}</span> <span class="tagline">{{site.subtitle}}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        {{#each site.pages}}
        {{#if showInNav}}
        <li class="nav-item">
          <a class="nav-link" href="/{{file}}">{{name}}</a>
        </li>
        {{/if}}
        {{/each}}

      </ul>

    </div>
  </nav>


</div>
