<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>{{meta.title}} - {{meta.subtitle}}</title>
   <meta name="author" content="{{meta.author}}">
   <meta name="description" content="{{meta.description}}">

<link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
<link rel="shortcut icon" href="/icons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="{{meta.title}}" />
<link rel="manifest" href="/icons/site.webmanifest" />

   <link rel="stylesheet" href="css/reset.css">
   <link rel="stylesheet" href="css/typography.css">
   <link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/flavor.css">
</head>

<body>
   {{> header }}

   <main>
      {{> intro }}
      {{> case-studies }}
      {{> skills }}
      {{> work-experience }}
      {{> community }}
      {{> speaking }}
      {{> teaching }}
      {{> advocating }}
   </main>

   {{> footer }}

   <script src="https://www.google-analytics.com/analytics.js" async defer></script>
   <script src="js/main.js"></script>
</body>

</html>